{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'inputs/css/index.css' %}" />
  </head>
  <body class="bg">

    <nav class="navbar navbar-inverse">
      <div class="container fluid">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Lenders
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="inputs/lender_form/">Form</a></li>
              <li><a href="inputs/lender_list/">List</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Loans
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="inputs/loan_form/">Form</a></li>
              <li><a href="inputs/loan_list/">List</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Loan Information -->
    <section class="container">
      <header>
        Client Information
        <button type="button" class="btn btn-broker btn-xs pull-right">
          <a href="{%url 'inputs:loan_form'%}">
            <span class="glyphicon glyphicon-plus-sign"></span> Add Client
          </a>
        </button>
      </header>
      <section class="content">
        <table class="fixed_header">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Loan Type</th>
              <th>Loan Amount</th>
            </tr>
          </thead>
          <tbody>
            {% for loan in loans %}
            <tr>
              <td>{{ loan.client_first_name }}</td>
              <td>{{ loan.client_last_name }}</td>
              <td>Loan Type</td>
              <td>{{ loan.loan_amount }}</td>
            </tr>
            {% empty %}
            <tr>
              <td align="center" colspan="4">No Loans to display</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
    </section>

    <!-- Lender Information -->
    <section class="container">
      <header>
        Lender Information
        <button type="button" class="btn btn-broker btn-xs pull-right">
          <a href="{%url 'inputs:lender_form'%}">
            <span class="glyphicon glyphicon-plus-sign"></span> Add Lender
          </a>
        </button>
      </header>
      <section class="content">
        <table>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Company</th>
          </tr>
          {% for lender in lenders %}
          <tr>
            <td>{{ lender.lender_first_name }}</td>
            <td>{{ lender.lender_last_name }}</td>
            <td>{{ lender.lender_company }}</td>
          </tr>
          {% empty %}
          <tr>
            <td align="center" colspan="4">No Lenders to display</td>
          </tr>
          {% endfor %}
        </table>
      </section>
    </section>
  </body>
</html>
