{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'inputs/css/index.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'inputs/css/list.css' %}">
  </head>
  <body>

    <!-- nav bar
         TODO: templatize and include nav bar for all templates -->
    <nav class="navbar navbar-inverse">
      <div class="container fluid">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Lenders
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/inputs/lender_form/">Form</a></li>
              <li><a href="/inputs/lender_list/">List</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Loans
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/inputs/loan_form/">Form</a></li>
              <li><a href="/inputs/loan_list/">List</a></li>
            </ul>
          </li>
          <li class="active"><a href="#">Tools</a></li>
          <li class="active"><a href="#">Graphs</a></li>
          <li class="active"><a href="#">Brokers</a></li>
        </ul>
      </div>
    </nav>

    <section class="container">
      <header>
        Lender Information
        <button type="button" class="btn btn-broker btn-xs pull-right">
          <a href="{% url 'inputs:lender_form' %}">
            <span class="glyphicon glyphicon-plus-sign"></span> Add Lender
          </a>
        </button>
      </header>
      <section class="content">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Company</th>
            </tr>
          </thead>
          {% for lender in lenders %}
          <tr class="row-link" data-href="#">
            <td>{{ lender.lender_first_name }}</td>
            <td>{{ lender.lender_last_name }}</td>
            <td>{{ lender.lender_company }}</td>
          </tr>
          {% empty %}
          <tr>
            <td align="center" colspan="3">No Lenders to display</td>
          </tr>
          {% endfor %}
        </table>
      </section>
    </section>

    <script type="text/javascript" src="{% static 'js/list.js' %}"></script>

  </body>
</html>
