{% extends 'inputs/base.html' %}
{% block content %}
    <h1>Lender Form</h1>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form name="form" action="{% url 'inputs:edit_lender_form' pk=lender_data.id %}" method="GET">
    {% csrf_token %}

      <!-- Name Table -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Lender Information</h1>
          <label>First Name:</label>
          {{ lender_data.lender_first_name }}
          <label>Last Name:</label>
          {{ lender_data.lender_last_name }}
          <label>Company:</label>
          {{ lender_data.lender_company }}
          <label>Address:</label>
          {{ lender_data.lender_street_address }}
          <label>City:</label>
          {{ lender_data.lender_city }}
          <label>State:</label>
          {{ lender_data.lender_state }}
          <label>Zip:</label>
          {{ lender_data.lender_zip_code }}
          <label>Email:</label>
          {{ lender_data.lender_personal_email }}
          <label>Work Email:</label>
          {{ lender_data.lender_work_email }}
          <label>Cell Phone:</label>
          {{ lender_data.lender_cell_phone }}
          <label>Work Phone:</label>
          {{ lender_data.lender_work_phone }}
          <label>Solicitation:</label>
          {{ lender_data.lender_solicitation }}
        </div>
      </div>

      <!-- Owner Occupied Table -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Owner Occupied Real Estate Parameters</h1>
          <label>Office:</label>
          {{ lender_data.oo_office }}
          <label>Warehouse:</label>
          {{ lender_data.oo_warehouse }}
          <label>Manufacturing:</label>
          {{ lender_data.oo_manufacturing }}
          <label>Medical:</label>
          {{ lender_data.oo_medical }}
          <label>Mixed Use:</label>
          {{ lender_data.oo_mixed_use }}
          <label>Other:</label>
          {{ lender_data.oo_other }}
        </div>
      </div>

      <!-- Investment Table -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Investment Real Estate Parameters</h1>
          <label>Office:</label>
          {{ lender_data.inv_office }}
          <label>Warehouse:</label>
          {{ lender_data.inv_warehouse }}
          <label>Manufacturing:</label>
          {{ lender_data.inv_manufacturing }}
          <label>Medical:</label>
          {{ lender_data.inv_medical }}
          <label>Mixed Use:</label>
          {{ lender_data.inv_mixed_use }}
          <label>Other:</label>
          {{ lender_data.inv_other }}
        </div>
      </div>

      <!-- Multifamily Table -->
      <div class="formContainer">
        <div class="grid2c">
          <h1 class="formHeader">Multifamily Loan Parameters</h1>
          <label>2 to 4 Units:</label>
          {{ lender_data.mf_2to4 }}
          <label>More than 4 Units:</label>
          {{ lender_data.mf_gt4 }}
        </div>
      </div>

      <!-- Construction Table -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Construction Loan Parameters</h1>
          <label>Renovation:</label>
          {{ lender_data.constr_renovation }}
          <label>Ground Up Spec:</label>
          {{ lender_data.constr_ground_up_spec }}
          <label>Commercial:</label>
          {{ lender_data.constr_commercial }}
          <label>Residential:</label>
          {{ lender_data.constr_residential }}
          <label>Investment with Land:</label>
          {{ lender_data.constr_inv_with_land }}
          <label>Owner Occ with Land:</label>
          {{ lender_data.constr_oo_with_land }}
        </div>
      </div>

      <!-- SBA Table -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">SBA Loan Parameters</h1>
          <label>7a:</label>
          {{ lender_data.sba_7a }}
          <label>504:</label>
          {{ lender_data.sba_504 }}
          <label>CAPline:</label>
          {{ lender_data.sba_CAPline }}
          <label>Microloan:</label>
          {{ lender_data.sba_micro }}
          <label>Other:</label>
          {{ lender_data.sba_other }}
        </div>
      </div>

      <!-- Miscellaneious Table -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Miscellaneous Loans</h1>
          <label>HELOC:</label>
          {{ lender_data.misc_HELOC }}
          <label>BLOC:</label>
          {{ lender_data.misc_BLOC }}
          <label>Bridge:</label>
          {{ lender_data.misc_bridge }}
        </div>
      </div>

      <!-- Qualifiers -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Qualifiers</h1>
          <label>Pays Brokers Fees:</label>
          {{ lender_data.qual_pays_fees }}
          <label>Outside CA:</label>
          {{ lender_data.qual_outside_ca }}
          <label>1031 Exchange:</label>
          {{ lender_data.qual_1031_exchange }}
          <label>Less than 500K:</label>
          {{ lender_data.qual_lt_500K }}
          <label>Less than 1M:</label>
          {{ lender_data.qual_lt_1M }}
          <label>Equipment:</label>
          {{ lender_data.qual_equip }}
          <label>Non-Conforming Property:</label>
          {{ lender_data.qual_non_conform }}
          <label>Ground Lease:</label>
          {{ lender_data.qual_ground_lease }}
          <label>Relationship:</label>
          {{ lender_data.qual_relationship }}
          <label>Cannabis:</label>
          {{ lender_data.qual_cannabis }}
          <label>Interest Only:</label>
          {{ lender_data.qual_io }}
          <label>Revocable Trust:</label>
          {{ lender_data.qual_rev_trust }}
          <label>Irrevocable Trust:</label>
          {{ lender_data.qual_irrev_trust }}
          <label>Foreclosure:</label>
          {{ lender_data.qual_foreclosure }}
          <label>Single Tenant:</label>
          {{ lender_data.qual_single_tenant }}
          <label>Bankruptcy:</label>
          {{ lender_data.qual_bk }}
          <label>Entitlements:</label>
          {{ lender_data.qual_entitlements }}
          <label>Non Profit:</label>
          {{ lender_data.qual_non_profit }}
          <label>Cash Out Refi:</label>
          {{ lender_data.qual_cashout_refi }}
          <label>Non Recourse:</label>
          {{ lender_data.qual_non_recourse }}
          <label>Real Estate Collateral:</label>
          {{ lender_data.qual_re_collateral }}
          <label>Cross Collateral:</label>
          {{ lender_data.qual_cross_collateral }}
          <label>Business Acquisitions:</label>
          {{ lender_data.qual_biz_acq }}
        </div>
      </div>

      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Property Types</h1>
          <label>Automotive:</label>
          {{ lender_data.prop_automotive }}
          <label>Car Wash:</label>
          {{ lender_data.prop_carwash }}
          <label>Entertainment:</label>
          {{ lender_data.prop_entertainment }}
          <label>Farm:</label>
          {{ lender_data.prop_farm }}
          <label>Gas Station:</label>
          {{ lender_data.prop_gas_station }}
          <label>Hospital:</label>
          {{ lender_data.prop_hospital }}
          <label>Hotel (Flag):</label>
          {{ lender_data.prop_hotel_flag }}
          <label>Hotel (Non-Flag):</label>
          {{ lender_data.prop_hotel_nonflag }}
          <label>Industrial:</label>
          {{ lender_data.prop_industrial }}
          <label>Marina:</label>
          {{ lender_data.prop_marina }}
          <label>Medical:</label>
          {{ lender_data.prop_medical }}
          <label>Mobile Home:</label>
          {{ lender_data.prop_mobile_home }}
          <label>Motel (Flag):</label>
          {{ lender_data.prop_motel_flag }}
          <label>Motel (Non-Flag):</label>
          {{ lender_data.prop_motel_nonflag }}
          <label>Multifamily:</label>
          {{ lender_data.prop_multifamily }}
          <label>Office:</label>
          {{ lender_data.prop_office }}
          <label>Restaurant:</label>
          {{ lender_data.prop_restaurant }}
          <label>Retail:</label>
          {{ lender_data.prop_retail }}
          <label>Senior Housing:</label>
          {{ lender_data.prop_senior_housing }}
          <label>Storage:</label>
          {{ lender_data.prop_storage }}
          <label>Student Housing:</label>
          {{ lender_data.prop_student_housing }}
        </div>
      </div>
      <center>
        <button>Edit</button>
      </center>
    </form>
{% endblock %}
