{% extends 'inputs/base.html' %}
{% block content %}
    <h1>Lender Form</h1>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% if lender.id %}
    <form name="form" action="{% url 'inputs:edit_lender_form' pk=lender.id %}" method="POST">
    {% else %}
    <form name="form" action="{% url 'inputs:lender_form' %}" method="POST">
    {% endif %}
      {% csrf_token %}

      <!-- Name Table -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Lender Information</h1>
          <label>First Name:</label>
          {{ form.lender_first_name }}
          <label>Last Name:</label>
          {{ form.lender_last_name }}
          <label>Company:</label>
          {{ form.lender_company }}
          <label>Address:</label>
          {{ form.lender_street_address }}
          <label>City:</label>
          {{ form.lender_city }}
          <label>State:</label>
          {{ form.lender_state }}
          <label>Zip:</label>
          {{ form.lender_zip_code }}
          <label>Email:</label>
          {{ form.lender_personal_email }}
          <label>Work Email:</label>
          {{ form.lender_work_email }}
          <label>Cell Phone:</label>
          {{ form.lender_cell_phone }}
          <label>Work Phone:</label>
          {{ form.lender_work_phone }}
          <label>Solicitation:</label>
          {{ form.lender_solicitation }}
        </div>
      </div>

      <!-- Owner Occupied Table -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Owner Occupied Real Estate</h1>
          <label>Office:</label>
          <label>{{ form.oo_office }}</label>
          <label>Warehouse:</label>
          <label>{{ form.oo_warehouse }}</label>
          <label>Manufacturing:</label>
          <label>{{ form.oo_manufacturing }}</label>
          <label>Medical:</label>
          <label>{{ form.oo_medical }}</label>
          <label>Mixed Use:</label>
          <label>{{ form.oo_mixed_use }}</label>
          <label>Other:</label>
          <label>{{ form.oo_other }}</label>
        </div>
      </div>

      <!-- Investment Table -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Investment Real Estate</h1>
          <label>Office:</label>
          <label>{{ form.inv_office }}</label>
          <label>Warehouse:</label>
          <label>{{ form.inv_warehouse }}</label>
          <label>Manufacturing:</label>
          <label>{{ form.inv_manufacturing }}</label>
          <label>Medical:</label>
          <label>{{ form.inv_medical }}</label>
          <label>Mixed Use:</label>
          <label>{{ form.inv_mixed_use }}</label>
          <label>Other:</label>
          <label>{{ form.inv_other }}</label>
        </div>
      </div>

      <!-- Multifamily Table -->
      <div class="formContainer">
        <div class="grid2c">
          <h1 class="formHeader">Multifamily Loan</h1>
          <label>2 to 4 Units:</label>
          <label>{{ form.mf_2to4 }}</label>
          <label>More than 4 Units:</label>
          <label>{{ form.mf_gt4 }}</label>
        </div>
      </div>

      <!-- Construction Table -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Construction Loan</h1>
          <label>Renovation:</label>
          <label>{{ form.constr_renovation }}</label>
          <label>Ground Up Spec:</label>
          <label>{{ form.constr_ground_up_spec }}</label>
          <label>Commercial:</label>
          <label>{{ form.constr_commercial }}</label>
          <label>Residential:</label>
          <label>{{ form.constr_residential }}</label>
          <label>Investment with Land:</label>
          <label>{{ form.constr_inv_with_land }}</label>
          <label>Owner Occ with Land:</label>
          <label>{{ form.constr_oo_with_land }}</label>
        </div>
      </div>

      <!-- SBA Table -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">SBA Loan</h1>
          <label>7a:</label>
          <label>{{ form.sba_7a }}</label>
          <label>504:</label>
          <label>{{ form.sba_504 }}</label>
          <label>CAPline:</label>
          <label>{{ form.sba_CAPline }}</label>
          <label>Microloan:</label>
          <label>{{ form.sba_micro }}</label>
          <label>Other:</label>
          <label>{{ form.sba_other }}</label>
        </div>
      </div>

      <!-- HELOC Table -->
      <div class="formContainer">
        <div class="grid2c">
          <h1 class="formHeader">HELOC Loans</h1>
          <label>1st Position:</label>
          <label>{{ form.heloc_1_pos }}</label>
          <label>2nd Position:</label>
          <label>{{ form.heloc_2_pos }}</label>
        </div>
      </div>

      <!-- BLOC Table -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">BLOC Loans</h1>
          <label>Residential Property:</label>
          <label>{{ form.bloc_resid_prop }}</label>
          <label>Investment Property:</label>
          <label>{{ form.bloc_inv_prop }}</label>
          <label>Savings Account:</label>
          <label>{{ form.bloc_savings }}</label>
          <label>Stocks:</label>
          <label>{{ form.bloc_stocks }}</label>
          <label>1st Position:</label>
          <label>{{ form.bloc_1_pos }}</label>
          <label>2nd Position:</label>
          <label>{{ form.bloc_2_pos }}</label>
        </div>
      </div>

      <!-- Bridge Table -->
      <div class="formContainer">
        <div class="grid2c">
          <h1 class="formHeader">Bridge Loans</h1>
          <label>Bridge:</label>
          <label>{{ form.bridge }}</label>
        </div>
      </div>

      <!-- Qualifiers -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Qualifiers</h1>
          <label>Pays Brokers Fees:</label>
          <label>{{ form.qual_pays_fees }}</label>
          <label>Outside CA:</label>
          <label>{{ form.qual_outside_ca }}</label>
          <label>1031 Exchange:</label>
          <label>{{ form.qual_1031_exchange }}</label>
          <label>Less than 500K:</label>
          <label>{{ form.qual_lt_500K }}</label>
          <label>Less than 1M:</label>
          <label>{{ form.qual_lt_1M }}</label>
          <label>Equipment:</label>
          <label>{{ form.qual_equip }}</label>
          <label>Non-Conforming Property:</label>
          <label>{{ form.qual_non_conform }}</label>
          <label>Ground Lease:</label>
          <label>{{ form.qual_ground_lease }}</label>
          <label>Relationship:</label>
          <label>{{ form.qual_relationship }}</label>
          <label>Cannabis:</label>
          <label>{{ form.qual_cannabis }}</label>
          <label>Interest Only:</label>
          <label>{{ form.qual_io }}</label>
          <label>Revocable Trust:</label>
          <label>{{ form.qual_rev_trust }}</label>
          <label>Irrevocable Trust:</label>
          <label>{{ form.qual_irrev_trust }}</label>
          <label>Foreclosure:</label>
          <label>{{ form.qual_foreclosure }}</label>
          <label>Single Tenant:</label>
          <label>{{ form.qual_single_tenant }}</label>
          <label>Bankruptcy:</label>
          <label>{{ form.qual_bk }}</label>
          <label>Entitlements:</label>
          <label>{{ form.qual_entitlements }}</label>
          <label>Non Profit:</label>
          <label>{{ form.qual_non_profit }}</label>
          <label>Cash Out Refi:</label>
          <label>{{ form.qual_cashout_refi }}</label>
          <label>Non Recourse:</label>
          <label>{{ form.qual_non_recourse }}</label>
          <label>Real Estate Collateral:</label>
          <label>{{ form.qual_re_collateral }}</label>
          <label>Cross Collateral:</label>
          <label>{{ form.qual_cross_collateral }}</label>
          <label>Business Acquisitions:</label>
          <label>{{ form.qual_biz_acq }}</label>
        </div>
      </div>

      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Property Types</h1>
          <label>Automotive:</label>
          <label>{{ form.prop_automotive }}</label>
          <label>Car Wash:</label>
          <label>{{ form.prop_carwash }}</label>
          <label>Entertainment:</label>
          <label>{{ form.prop_entertainment }}</label>
          <label>Farm:</label>
          <label>{{ form.prop_farm }}</label>
          <label>Gas Station:</label>
          <label>{{ form.prop_gas_station }}</label>
          <label>Hospital:</label>
          <label>{{ form.prop_hospital }}</label>
          <label>Hotel (Flag):</label>
          <label>{{ form.prop_hotel_flag }}</label>
          <label>Hotel (Non-Flag):</label>
          <label>{{ form.prop_hotel_nonflag }}</label>
          <label>Industrial:</label>
          <label>{{ form.prop_industrial }}</label>
          <label>Marina:</label>
          <label>{{ form.prop_marina }}</label>
          <label>Medical:</label>
          <label>{{ form.prop_medical }}</label>
          <label>Mobile Home:</label>
          <label>{{ form.prop_mobile_home }}</label>
          <label>Motel (Flag):</label>
          <label>{{ form.prop_motel_flag }}</label>
          <label>Motel (Non-Flag):</label>
          <label>{{ form.prop_motel_nonflag }}</label>
          <label>Multifamily:</label>
          <label>{{ form.prop_multifamily }}</label>
          <label>Office:</label>
          <label>{{ form.prop_office }}</label>
          <label>Restaurant:</label>
          <label>{{ form.prop_restaurant }}</label>
          <label>Retail:</label>
          <label>{{ form.prop_retail }}</label>
          <label>Senior Housing:</label>
          <label>{{ form.prop_senior_housing }}</label>
          <label>Storage:</label>
          <label>{{ form.prop_storage }}</label>
          <label>Student Housing:</label>
          <label>{{ form.prop_student_housing }}</label>
        </div>
      </div>
      <center>
        <button>{{ submit }}</button>
      </center>
    </form>
{% endblock %}
