{% extends 'inputs/base.html' %}
{% load static %}
{% block content %}
    <section class="container">
      <header>
        Client Information
        <button type="button" class="btn btn-broker btn-xs pull-right">
          <a href="{% url 'inputs:loan_form' %}">
            <span class="glyphicon glyphicon-plus-sign"></span> Add Client
          </a>
        </button>
      </header>
      <section class="content">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Loan Type</th>
              <th>Loan Amount</th>
            </tr>
          </thead>
          {% for client in clients %}
          <tr class="row-link" data-href="/inputs/loan_form/{{ client.id }}/">
            <td>{{ client.client_first_name }}</td>
            <td>{{ client.client_last_name }}</td>
            <td>Loan Type</td>
            <td>{{ client.loan_amount }}</td>
          </tr>
          {% empty %}
          <tr>
            <td align="center" colspan="4">No Clients to display</td>
          </tr>
          {% endfor %}
        </table>
      </section>
    </section>

    <script type="text/javascript" src="{% static 'inputs/js/list.js' %}"></script>
{% endblock %}
